.container{
    border: 2px solid gray;
    height: 665px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    padding-top: 0px;
    margin-inline: auto;
}
.nav{
    flex:none;
    display: flex;
    
    flex-direction: column;
   }
   
.logo h2{

    font-family: sans-serif;
}
.logo{
    
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.box1{
    flex: 3;
    display: flex;
    gap: 6px;

}
.box2{
    flex:5;
    display: flex;
    border: 2px solid gray;
    box-shadow: 0 0 2px;
}
.video{
    flex:0.8;
    border: 2px solid gray;
    margin: 20px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.video img{
    height: 80px;
    width: 80px;
}
.videotxt{
    display: flex;
    margin-bottom: 80px;
    align-items: center;
    
    
}

.box3{
flex:3;
border: 2px solid gray;
display: flex;
flex-direction: column;
box-shadow: 0 0 2px;
}
.navbar{
    display: flex;
   justify-content: space-evenly;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.video{
    background-color: rgb(188, 184, 184);
    border: 2px solid gray;
}

.adspace{
    flex:1;
    border: 2px solid gray;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 2px;
}
.rotater{
    flex: 1.7;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px;
}



    


.boxes{
    flex:1.85;
    
    display: flex;
    gap: 6px;
    
}
.text{
    
    flex:1.15;
    
}
.b1{
    flex:auto;
border: 2px solid gray;
margin: 6px;
}
.b2{
    flex:auto;
    border: 2px solid gray;
    margin: 6px;
}

.b3{
    flex:auto;
   border: 2px solid gray;
    margin: 6px;
}

.b4{
    flex:auto;
    border: 2px solid gray;
    margin: 6px;
}

.b5{
    flex:auto;
   border: 2px solid gray;
    margin: 6px;
}
.text h5{
    text-align: center;
    font-family:arial, sans-serif;
    font-size:medium
}




